@model ZaKhan.Model.PatientViewModel

@{
    ViewBag.Title = "GetUser";
}

<h2>GetUser</h2>

<div>
    <h4>PatientViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityAnswer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
