@model IEnumerable<ZaKhan.Model.AuditView>

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>Tracked User Activity</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <p>
                <h4>
                    <i><b>Name</b></i>
                    @Html.DropDownList("SearchString", (SelectList)ViewData["UName"], "Select an Username", new { Style = "width:250px" })
                    <input type="submit" value="Search" />
                </h4>
            </p>
               
        }

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Event)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeAccessed)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeAccessed)
                    </td>

                </tr>
            }

        </table>

        <table>
            <tr>
                <td>
                    <a class="btn btn-primary" href="javascript:window.print()">Print Records &raquo;</a>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        <div>
        @Html.ActionLink("Back", "Admin", "Login", null, new
                    {
                        @class = "btn btn-success"
                    })
    </div>
    </div>
</div>