@model IEnumerable<ZaKhan.Model.ShoppingCart.ShoopingCartView>


<link href="~/Content/Site.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>Cart</h2>
    </div>
    <div class="panel-body">

        <table class="table">
            <tr>

                @*<th>
                        @Html.DisplayNameFor(model => model.ProductID)
                    </th>*@
                <th>
                    Product Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Cost
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @Html.HiddenFor(modelItem => item.ProductID)
                <tr>



                    <td>
                        @Html.DisplayFor(modelItem => item.ProuductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCost)
                    </td>
                    <td>
                        @Html.ActionLink("Edit Quantity", "Update", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Details", "CartDetails", new { id = item.Id }, new { @class = "btn btn-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })



                    </td>
                </tr>
            }
            @Html.ActionLink("Checkout", "CheckOut", "Order", "", new { @class = "btn btn-primary" })
        </table>
        <h3 alig="right">
            R @ViewBag.Total
        </h3>
    </div>
</div>