@model IEnumerable<ZaKhan.Model.Products.ProductView>

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>Products</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <p>
                <h4>
                    <i><b>Find By Name</b></i> @Html.TextBox("SearchString")
                    <input type="submit" value="Search"/>
                </h4>
            </p>
            <br/>
            <br/>
        }


        @foreach (var item in Model)
        {
            <div class="well">
                <h3>
                    <img src="~/Content/Images/@item.ImageUrl" alt="image" width="100" height="80"/>
                    <strong>@item.Name</strong>
                    <span class="pull-right label label-primary">@item.price.ToString("C")</span><br/>
                    <span class="pull-right btn btn-success">@Html.ActionLink("AddToCart", "AddToCart", "ShoppingCart", new {id = item.Id}, null)</span> 
                    
                    <span class="pull-right btn btn-success">@Html.ActionLink("Product Details", "Details", "Product", new { id = item.Id }, null)</span>

                </h3>
                <span class="lead">@item.Description</span>
            </div>
        }
    </div>
</div>