@using Microsoft.AspNet.Identity

@model IEnumerable<ZaKhan.Model.BookingModel>


@{
    ViewBag.Title = "Bookings";
}
@using ZaKhan.Model;
@using ZaKhan.Data;

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>My Bookings</h2>
    </div>
<div class="panel-body">
    <p>
        @Html.ActionLink("Create New", "Create", "", new {@class = "btn btn-primary"})
    </p>


    @ViewBag.op




    @foreach (Booking b in ViewBag.Books)
    {


        if (b.Username == User.Identity.GetUserName())
        {

            <table class="table">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OptometristName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookedTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalCost)
                    </th>
                    <th></th>
                </tr>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BranchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OptometristName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookedTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCost)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {id = item.BookingID}, new {@class = "btn btn-warning"}) |
                            @Html.ActionLink("Delete", "Delete", new {id = item.BookingID}, new {@class = "btn btn-primary"}) |
                            @Html.ActionLink("Invoice", "Invoice", new { id = item.BookingID }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
          
        }
    }
</div>
</div>