@model ZaKhan.Data.Booking
@{
    ViewBag.Title = "Cancel";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" align="center">
        <h2>Booking Cancellation</h2>
    </div>
<div class="panel-body">

    <h3>Are you sure you want to cancel your booking?</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr/>
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.BookingID)



            <div class="form-group">

                @Html.Label("Username", htmlAttributes: new {@class = "control-label col-md-2"})

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BranchName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BranchName)
                    @Html.ValidationMessageFor(model => model.BranchName)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.BookedDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookedDate)
                    @Html.ValidationMessageFor(model => model.BookedDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BookedTime, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookedTime)
                    @Html.ValidationMessageFor(model => model.BookedTime)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TotalCost, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalCost)
                    @Html.ValidationMessageFor(model => model.TotalCost)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OptometristName, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OptometristName)
                    @Html.ValidationMessageFor(model => model.OptometristName)
                </div>
            </div>


        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cancel" class="btn btn-warning"/> |
                @Html.ActionLink("Done", "Bookings", null, new {@class = "btn btn-success"})

            </div>
        </div>
    }
</div>
</div>